.page
{

width:1300px;
height:1500px;
border-style:groove;
}

.headerpart
{
width:1300px;
height:300px;
border-style:groove;
background-color:rgb(10,50,100);
text-align: center;
color: white;

}

.linkspart
{
width:1300px;
height:40px;
border-style:groove;
margin-top:20px;
background-color:rgb(50,400,300);
text-align: center;

}

.linkspart a
{
color:rgb(500,700,900);
text-decoration:none;


}

.linkspart a:hover
{
background-color:rgb(70,250,350);
color:rgb(12,500,700)

}
.bodypart
{
width:1300px;
height:800px;
border-style:groove;
margin-top:40px;

}
 
.bodypart .imagepart
{
width:680px;
height: 380px;
border-style:groove;
background-image:url('tit2.png');
display:inline-block;
padding: 50px;
color:violet;
font-size: 100px
text-align: lower;


}
.bodypart .newspart
{
width:500px;
height:780px;
border-style:groove;
float:right;

}

.bodypart .newspart h1
{
color:blue;
margin-left:170px;

}

.bodypart .newspart .news
{
width:490px;
height:700px;





}
.bodypart .newspart .news h4
{
color:blue;

}
.bodypart h6
{
color:blue;
text-align:center;



}
.footerpart
{
width:1300px;
height:300px;
border-style:groove;
margin-top:2px;
background-color:rgb(50,200,200);
text-align: center;
padding-top: 2%;
}


.headerpart .logo
{
    margin-right:80%;;
}



.dropbtn {  
    background-color: yellow;  
    color: black;  
    padding: 10px;  
    font-size: 12px;  
}  
.dropdown {  
    display: inline-block;  
    position: relative  
}  
.dropdown-content {  
    position: absolute;  
    background-color: lightgrey;  
    min-width: 200px;  
    display: none;  
    z-index: 1;  
}  
.dropdown-content a {  
    color: black;  
    padding: 12px 16px;  
    text-decoration: none;  
    display: block;  
}  
.dropdown-content a:hover {  
    background-color: blue;  
}  
.dropdown:hover .dropdown-content {  
    display: block;  
}  
.dropdown:hover .dropbtn {  
    background-color: blue;  
}  

.footerpart .left
{
    padding-right: 80%;
    padding-top: 50px;
    max-width: 100px;
    display: inline;
    position: relative;
}

.footerpart .right
{
    text-align: center;
    color: white;
    
}
.footerpart .right h3{
    color: white;
}
.footerpart .right h4{
    color: white;
}
